html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

header {
	background: purple;
	height: 100px;
}

section {
	display: flex;
	flex-wrap: wrap;
}

article {
	margin: 10px;
	padding: 10px;
	background: aqua;
	min-width: 300px;
}

button {
	margin: 5px;
	font-size: 18px;
	line-height: 1.5;
}

article {
	flex: 1 200px;
}

article:nth-of-type(3)
{
	display: flex;
	flex: 3 200px;
	flex-flow: column;
}

article:nth-of-type(3) div:first-child {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}
