html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

header {
	background: purple;
	height: 100px;
}

section {
	display: flex;
}

article {
	margin: 10px;
	padding: 10px;
	background: aqua;
}

button {
	margin: 5px;
	font-size: 18px;
	line-height: 1.5;
}

article {
	flex: 1 200px;
}

article:nth-of-type(3)
{
	display: flex;
	flex: 3 200px;
	flex-flow: column;
}
